
@{
    ViewData["Title"] = "Netnr.Test Nav";
}

<h2>Netnr.Test Nav</h2>

<ul>
    <li>
        <a href="/home">Parameter</a>
    </li>
    <li>
        <a href="/aspappendversion/">asp-append-version</a>
    </li>
    <li>
        <a href="/path/">IHostingEnvironment</a>
    </li>
</ul>