@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button class="btn-pause">Request / Pause</button>
    <button class="btn-login">Click to Login</button>
    <button class="btn-logout">Click to Logout</button>

    <label style="user-select:none">
        <input class="ck-jwt" type="checkbox" checked /> Use JWT Token
    </label>

    <button class="btn-cpu">Consume CPU</button>
</div>
<textarea style="width:70vw;height:70vh;margin-top:1em"></textarea>