@{
    ViewData["Title"] = "Index";
}

<h2>Asp-Append-Version Test</h2>

<p>Please see the source code <code>Ctrl + U</code></p>

<script src="~/aspappendversion/index.js" asp-append-version="true"></script>